#ddcolortabs {
	margin-left: 4px;
	padding: 0;
	width: 100%;
	background: transparent;
	voice-family: "\"}\"";
	voice-family: inherit;
	padding-left: 5px;
}

#ddcolortabs ul {
	font: bold 11px Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
}

#ddcolortabs li {
	display: inline;
	margin: 0 2px 0 0;
	padding: 0;
	text-transform: uppercase;
}

#ddcolortabs a {
	float: left;
	color: #05A9C5;
	background: white url(images/color_tabs_left.gif) no-repeat left top;
	margin: 0 2px 0 0;
	padding: 0 0 1px 3px;
	text-decoration: none;
	letter-spacing: 1px;
}

#ddcolortabs a span {
	float: left;
	display: block;
	background: transparent url(images/color_tabs_right.gif) no-repeat right
		top;
	padding: 4px 9px 2px 6px;
}

#ddcolortabs a span {
	float: none;
}

#ddcolortabs a:hover {
	background-color: #05A9C5;
		color: white;
}

#ddcolortabs a:hover span {
	background-color: #05A9C5;
		color: white;
}

#ddcolortabs #current a,#ddcolortabs #current span {
	/*currently selected tab*/
	background-color: #05A9C5;
	color: white;
}


#ddcolortabsline {
	clear: both;
	padding: 0;
	width: 100%;
	height: 4px;
	line-height: 8px;
	background: #05A9C5;
/* 	border-top: 1px solid #fff; */
	/*Remove this to remove border between bar and tabs*/
}

#pointermenu {
	border-top: 7px #666; /*optional border across top*/
	margin: 0;
	padding: 0;
}

#pointermenu ul {
	margin: 0;
	margin-left: 15px; /*menu offset from left edge of window*/
	float: left;
	padding-left: 8px;
	font: bold 13px Verdana;
	background-color: #666;
	background: #666
		/* url(../images/leftround.gif) bottom left no-repeat; optional left round corner*/
}

* html #pointermenu ul {
	/*IE6 only rule. Decrease ul left margin and add 1em bottom margin*/
	margin-bottom: 1em;
	margin-left: 7px; /*menu offset from left edge of window in IE*/
}

#pointermenu ul li {
	display: inline;
}

#pointermenu ul li a {
	float: left;
	color: white;
	font-weight: bold;
	padding: 2px 11px 7px 7px;
	text-decoration: none;
	background: url(../images/pointer.gif) bottom center no-repeat;
}

#pointermenu ul li a:visited {
	color: white;
}

#pointermenu ul li a:hover,#pointermenu ul li a#selected {
	/*hover and selected link*/
	color: white;
	background-color: #05A9C5;
}

#pointermenu ul li a#rightcorner {
	padding-right: 0;
	padding-left: 2px;
	background: url(../images/rightround.gif) bottom right no-repeat;
	/*optional right round corner*/
}